@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars on the main window */
}
